<p>Here are your details, <%= curr_sealion.name %>!</p>
<p>Name: <%= curr_sealion.name %></p>
<p>Location: <%= curr_sealion.location%></p>
<p>Quirk: <%= curr_sealion.quirk %></p>

<a href="/sealions/<%= curr_sealion.id %>/edit">Edit</a>

